@import "tailwindcss";
@import "./normalize.css";
@import "./webflow.css";
@import "./alloy-tests.webflow.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

input:focus + label,
input:valid + label,
.input.long:focus + label,
.input.long:valid + label {
    top: -10px;
    font-size: 14px;
    color: #000000;
    z-index: 3;
}
input:-internal-autofill-selected + label,
input {
    color: #000000;
}

/* Modal CSS puro */
#modalToggle:checked ~ .content-tasks + .modal-task {
    display: flex !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

#modalToggle:checked ~ .content-tasks + .modal-task .container-modal {
    transform: scale(1) !important;
}

/* Campos do form com arredondamento igual ao botão */
.w-input {
    border-radius: 0.5rem !important; /* rounded-lg */
}
